#coin {
    position: absolute;
    top: 10%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
}

#coin img {
    height: 25vmin;
    pointer-events: none;
    position: absolute;
    margin-left: -100%;
}

.heads {
    animation: flip-heads infinite 0.6s linear forwards;
    z-index: 100;
}

@keyframes flip-heads {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.tails {
    animation: flip-tails infinite 0.6s linear forwards;   
    transform: rotateY(-180deg);
}

@keyframes flip-tails {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}