#coin {
    text-align: center;
    position: relative;
    width: 188.6px;
    height: 188.6px;
    cursor: pointer;
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
    margin-bottom: 40px;
}

#coin ::selection {
    color: none;
    background: none;
}

#coin img {
    height: 25vmin;
    pointer-events: none;
    position: absolute;
    margin-left: -50%;
}

.heads {
    animation: flip-heads infinite 0.6s linear forwards;
}

@keyframes flip-heads {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.tails {
    animation: flip-tails infinite 0.6s linear forwards;   
    transform: rotateY(-180deg);
}

@keyframes flip-tails {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}